/* My variables! */
:root {
  --theme-text-color: rgba(255, 255, 255, 0.87);
  --theme-bg-color: #242424;
  --theme-main-color: rgb(28, 119, 217);
  --theme-outline-color: rgba(255, 255, 255, 0.6);
  --theme-soft-outline-color: #606164;
  --theme-grey: rgb(0, 0, 0, 0.1);
  --theme-shadow: rgb(0, 0, 0, 0.1);

  --std-font-weight: 400;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: var(--std-font-weight);

  color-scheme: light dark;
  color: var(--theme-text-color);
  background-color: var(--theme-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  font-weight: 500;
  color: #989cf8;
  text-decoration: inherit;
}
a:hover {
  color: #8187ff;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* My Stuff */

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root > main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

input,
textarea {
  padding: 14px 16px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--theme-soft-outline-color);
}

code {
  /* Code size doesn't automatically scale with browser font size. */
  font-size: 1rem;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
}

th {
  background-color: rgb(60, 60, 60);
  color: white;
}

tr {
  border: 1px solid var(--theme-soft-outline-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-text-color: #213547;
    --theme-bg-color: rgba(255, 255, 255, 0.87);
    --theme-outline-color: rgba(0, 0, 0, 0.3);
    --theme-soft-outline-color: #bfc1c3;
  }

  a {
    color: #646cff;
  }
  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
